<%# Details include student name Grade level + Subject Number of lessons, add if
able Display Date of bookings %>

<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-10">
      <div class="bookings-container">
        <h1 class="row justify-content-md-center">Upcoming bookings</h1>
        <div class="row">
          <% @bookings.each do |booking| %>

          <div class="card-body">
            <div class="d-flex booking-details">
              <div class="p-2 flex-grow-1 bd-highlight">
                <%= booking.start_time.strftime("%A, %d %b %Y") %>, <%=
                booking.start_time.strftime("%H:%M") %> to <%=
                booking.end_time.strftime("%H:%M") %>
              </div>

              <div class="p-2">
                <%= link_to "edit", edit_booking_path(booking) %>
              </div>
            </div>

            <div class="d-flex user-card">
              <div class="d-flex card-user-dets">
                <div class="p-2">Avatar</div>
                <div class="p-2"></div>
                <div class="p-2">number of lessons</div>
              </div>

              <div class="grades"><%= booking.subject.grade %></div>
            </div>
          </div>
          <% end %>
        </div>
      </div>

      <div class="bookings-container">
        <h1 class="row justify-content-md-center">Past bookings</h1>
        <div class="row">
          <% @bookings.each do |booking| %>

          <div class="card-body">
            <div class="d-flex booking-details">
              <div class="p-2 flex-grow-1 bd-highlight">
                <%= booking.start_time.strftime("%A, %d %b %Y") %>, <%=
                booking.start_time.strftime("%H:%M") %> to <%=
                booking.end_time.strftime("%H:%M") %>
              </div>

              <div class="p-2">
                <%= link_to "edit", edit_booking_path(booking) %>
              </div>
            </div>

            <div class="d-flex user-card">
              <div class="d-flex card-user-dets">
                <div class="p-2">Avatar</div>

                <div class="p-2">number of lessons</div>
              </div>

              <div class="grades"><%= booking.subject.grade %></div>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<%# <% "%Y-%M-%D " %>
