<div class="banner" style="background-image: url(<%= image_path("background.jpg") %>);">
  <div class="container banner-text ms-5">
    <h1>Find a <%= image_tag("teacher.png") %> today!</strong></h1>
    <p class="banner-teacher-count"><em><%= @users.count %> Teachers available</em></p>
    <p>Ace that exam! Find the best tutor for you: choose from our experienced tutors and get the best learning experience today!</p>
  <div class="">
    <h3>Filter by subject</h3>
    <%= simple_form_for :search, url: users_path, method: "GET" do |f| %>
      <%= f.input :subjects, collection: Subject::SUBJECTS, input_html: { class: 'select2' }, id: 'js-example-basic-multiple', input_html: {multiple: true}, class: 'js-example-basic-multiple', name: "states[]", multiple: "multiple"%>
      <%= f.submit 'Seach', class: "btn btn-primary", value: 'Search' %>
    <% end %>
  </div>
  </div>
</div>
<div class="container main-container teacher-cards mb-5">
  <div class="row g-4">
    <% @users.each do |user| %>
      <div class="col-xl-4 col-lg-6 col-md-12">
        <%= link_to user do %>
          <div class="teacher-main justify-content-between">
            <%# Teacher card left %>
            <div class="teacherCard-left">
              <%# Avatar %>
              
              <% if(user.photo.key).blank? %>
                <%= render 'users/avatars', user:user %>
              <% else %>
                <%= cl_image_tag booking.subject.user.photo.key, width: 40, height: 40, crop: :thumb, gravity: :face, class: 'avatar', radius: :max %>
              <% end %>
              
              <%# Infos %>
              <div class="teacherCard-body">
                <span class="teacherCard-name"><%= user.username %></span>
                <div class="teacherCard-info">
                  <span>Role: <%= user.role %></span>
                </div>
                <div>
                  <span>
                    <% if user.location.blank? %>
                      From Singapore
                    <% else %>
                      From <%= user.location %>, Singapore
                    <% end %>
                  </span>
                </div>
                <%# Subj et hrly %>
                <div class="teacherCard-bottom mt-4">
                  <%= render 'users/teachersubject', user: user %>
                  <%= render 'users/hourlyrate', user: user %>
                </div>
              </div>
            </div>
            <%# Rating %>
            <div class="teacherCard-right mt-4 me-4">
              <%= render 'users/ratings', user: user %>
              <%= render 'users/bookings', user: user %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
