<div class="container main-container ">
  <div class="row">
    <div class="container left-container">
      <div class="teacher">
        <div class="teacher_main">
          <div class="teacherCard card p-2">
            <div class="teacherCard-left">
              <div class="avatar">
              </div>
              <div class="teacherCard-body">
                <div class="teacherCard-top">
                  <div class="teacherCard-middle">
                    <div class="teacherCard-name">
                      <%= @user.username %>
                    </div>
                    <div class="teacherCard-info">
                    <div>
                      <span>Professional Teacher</span>
                    </div>
                    <div>
                      <span>From Singapore</span>
                    </div>
                    </div>
                  </div>
                </div>
                <div class="teacherCard-bottom mt-4">
                  <div class="teacherCard-teaches mb-2"><span>Teaches: English, Maths</span></div>
                  <div class="teacherCard-speaks"><span>Speaks: English</span></div>
                </div>
              </div>
            </div>
            <div class="teacherCard-right mt-4">
              <div class=star-ratings>
                <span><i class="bi bi-star-fill"></i></span>
                <span><i class="bi bi-star-fill"></i></span>
                <span><i class="bi bi-star-fill"></i></span>
                <span><i class="bi bi-star-fill"></i></span>
                <span><i class="bi bi-star-fill"></i></span>
                <span></span>
              </div>
              <div class=students>
                <span>32 Students</span>
              </div>
              <div class=lessons>
                <span>71 Lessons</span>
              </div>
            </div>
          </div>
          <div class="card teacherCard-description">
            <div class="card-body description">
              <h3>Description</h3>
              <p>
                <%= @user.description %>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  <div class="container right-container">
    <h2>Availabilities</h2>
  </div>
  <%= simple_form_for(@booking) do |f| %>
    <%= f.input :subject, collection: ["Maths"], prompt: 'Select subject', label: false, input_html: { multiple: false} %>
    <%= f.input :start_time, collection: ["Thu, 02 Jun 2022 08:53:25.928509000 UTC +00:00 to Thu, 02 Jun 2022 08:53:26.928509000 UTC +00:00"], prompt: 'Select time slot', label: false, input_html: { multiple: false } %>
    <%= f.submit "Book class", class: "btn btn-primary" %>
  <% end %>
  <%# <%= link_to "book", new_user_booking_path(current_user.id) %>
</div>
