<div class="container my-3">
  <div class="row" data-controller="calendar">
    <div class="col-8 teacher-content">
      <h2><%= @user.username %></h2>
      <% if @user.description %>
        <p><%= @user.description %></p>
      <% end %>
      <% if @user.location %>
        <p><b>Class Location: </b><%= @user.location %></p>
      <% end %>
      <p><b>Teaches: </b><%= @user.subjects.map{|subj|subj.title}.join(", ") %></p>
    </div>
    <%= render 'users/surprise' %>
    <hr>

    <ul class="nav nav-pills px-3 mb-4" id="pills-tab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Availability</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Subjects</button>
      </li>
    </ul>

    <!-- Content for Avail Calendar tab -->
    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">
        <h3><i class="bi bi-book"></i> Book a class with <b><%= @user.username %></b></h3>

          <div class="calendar-container">
            <% if @availability_slot %>
              <%= week_calendar(events: @availability_slot, end_attribute: :end_time) do |date, availabilities| %>
                <%= date %>
                <% availabilities.each do |availability| %>
                  <% unless availability.blocker %>
                    <div class="available"
                    data-action="click->calendar#select_time_slot"
                    data-calendar-target="time" >
                      <small>
                        Available <br>
                        <%= availability.time unless availability.multi_days? %>
                        <p id="time" style="font-size: 0;"><%= date %></p>
                      </small>
                    </div>

                  <!-- Modal portion -->
                  <div id="myModal" class="modal" tabindex="-1" style="background-color: rgba(0,0,0,0.4);">
                    <div class="modal-dialog modal-dialog-centered">
                      <div class="modal-content" style="border: 5px solid #993865;background-color: #fdfaed;">
                        <div class="modal-header">
                          <h5 class="modal-title">Create a booking</h5>
                          <button type="button" data-action="click->calendar#close_modal" class="btn-close" aria-label="Close"></button>
                        </div>
                        <%= simple_form_for([@user, @booking]) do |f| %>
                          <div class="modal-body">
                            <span ><%= f.input :subject_id, as: :select, input_html: { data: {calendar_target: "subject", action: "change->calendar#update_grade_input"}}, collection: @user.subjects %></span>
                            <%= f.input :grade, as: :select, input_html: { data: {calendar_target: "grade"} }, collection: Subject::GRADES %>
                            <%= f.input :start_time, :label => "Select an availability slot. Click on a slot on the calendar", input_html: { value: Time.now.beginning_of_day }, as: :string %>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-action="click->calendar#close_modal">Close</button>
                            <%= f.button :submit, "Submit a booking request", class: 'btn btn-primary' %>
                          </div>
                        <% end %>
                      </div>
                    </div>
                  </div>
                  <!-- End of Modal -->

                  <% end %>
                <% end %>
              <% end %>
            <% else %>
              <%= week_calendar do |date| %>
                <%= date %>
              <% end %>
            <% end %>
          </div>
      </div>

      <!-- Content for Subject tab -->
      <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">
        <h3>List of Subjects offered:</h3>
        <% @user.subjects.each do |subject| %>
          <div class="col-6">
            <div class="card" data-calendar-target="subjects">
              <div class="d-flex bd-highlight">
                <div class="p-3 flex-grow-1 bd-highlight"><h4 id="subject_title"><%= subject.title %></h4></div>
              </div>
              <div class="ps-3">
                <p id="subject_grades">Grades: <% subject.grade.each do |level| %>
                  <% if level == subject.grade.last %>
                    <%= level %>
                  <% else %>
                    <%= level %> |
                  <% end %>
                <% end %>
                </p>
              </div>
              <div class="ps-3">
                <p>Hourly rate: $<%= subject.hourly_rate %></p>
              </div>
              <div class="ps-3">
                <p>Description: <%= subject.description %></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <hr>
    </div>
  </div>
</div>
