<% if @users_schedule %>
  <h3 style="display: inline-block;">Your Weekly Schedule:</h3><button class="btn btn-success" style="float: right;color: white;"
  data-action="click->schedule#modalAppear">Edit Schedule</button>
    <%= render 'schedules/edit' %>
  <% @users_schedule.week.each do |key, value| %>
    <p><%= key %>: <%= value[0].strftime("%H%M") %> - <%= value[1].strftime("%H%M") %></p>
  <% end %>
<% else %>
  <h3>Set your weekly schedule</h3>
  <div class="container px-0">
    <%= simple_form_for(@schedule) do |f| %>
      <div class="schedule row align-items-center">
        <% Schedule.week.each do |key, value| %>
          <h3><%= key %></h3>
          <div class="col">
            <%= f.input value[0], :label => "Start Time", :as => :time, :minute_step => 30, default: Time.parse('9:00') %>
          </div>
          <div class="col">
            <%= f.input value[1], :label => "End Time", :as => :time, :minute_step => 30, default: Time.parse('22:00') %>
          </div>
        <% end %>
      </div>
      <%= f.submit "Set Schedule", class: "btn btn-flat mb-3" %>
    <% end %>
  </div>
<% end %>
