<div class="calendar-container" data-availability-target="weekCal">
  <% if @availability_slot %>
    <%= week_calendar(events: @availability_slot, end_attribute: :end_time) do |date, availabilities| %>
      <%= date %>
      <% availabilities.each do |availability| %>
        <div id="<%= availability.id %>" class="<%= availability.blocker ? 'booking' : 'available' %>" data-availability-target="slot" data-action="click->availability#selectAvails">
          <p><% if availability.blocker %>
            Booking
          <% else %>
            Available
          <% end %></p>
          <small><%= availability.time unless availability.multi_days? %></small>
        </div>
      <% end %>
    <% end %>
  <!-- If no availability then show empty calendar -->
  <% else %>
    <%= week_calendar do |date| %>
      <%= date %>
    <% end %>
  <% end %>
  <button data-action="click->availability#deleteSelected" data-availability-target="cfmBtn" class="btn btn-danger mx-2" style="float: right;color: white;display: none">Confirm Delete</button>
</div>
