<div class="container">
  <div class="row justify-content-around">
    <div class="col-8">
      <div class="d-flex justify-content-between">
        <h2>My Schedule</h2>
      </div>

      <%= month_calendar(events: @availability_slot, end_attribute: :end_time) do |date, availabilities| %>
        <%= date %>

        <% availabilities.each do |availabilty| %>
          <div class="meeting">
            <p>Available</p>
          </div>
        <% end %>
      <% end %>

    </div>
    <div class="col-4">
      <div class="form-wrapper" style="width: 400px; margin: 0 auto;">
        <h3>Add an Availability</h3>

        <%= simple_form_for(@new_availability) do |f| %>
          <%= f.input :start_time, input_html: {class: "datepicker"} %>
          <%= f.input :end_time, input_html: {class: "datepicker"} %>
          <%= f.submit "Add availability", class: "btn btn-flat mb-3" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
